# Public site URL
# Local development:
# NEXT_PUBLIC_SITE_URL=http://localhost:3000
# Production:
# NEXT_PUBLIC_SITE_URL=https://furtimes.tw
NEXT_PUBLIC_SITE_URL=http://localhost:3000

# Payload CMS URL
# Local development:
# NEXT_PUBLIC_CMS_URL=http://localhost:3001
# LAN development example:
# NEXT_PUBLIC_CMS_URL=http://192.168.50.74:3001
# Production:
# NEXT_PUBLIC_CMS_URL=https://cms.furtimes.tw
NEXT_PUBLIC_CMS_URL=http://localhost:3001
